.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
  width: 90vw;
  height: 20%;
  background-color: white;
  border: 1px solid black;
  border-radius: 20px;
  padding: 3%;
}

.modal>p {
  padding-top: 6px;
}
.bg{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  display: none;
}

.btnBox {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  width: 94%;
  bottom: 12.5%;
  font-size: 2.5rem;
}

.YesBtn {
  background-color: #D0FF00;
}

.NoBtn{
  color: white;
  background-color: #333333;
}

.YesBtn,
.NoBtn {
  border: 1px solid #333333;
  border-radius: 10px;
  width: 40%;
  height: 30%;
}

/* 
a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 4% 15%;
} */