* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.dictionary_list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
}

.dictionary_list_item {
    border-radius: 0.25rem;
    box-shadow: 0 0 4px #d0d0d0;
    padding: 0.25rem 0.5rem;
}

.dictionary_info {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.dictionary_entry {
    font-weight: bold;
}

.dictionary_info>.number {
    min-width: 1.75rem;
    text-align: center;
    height: auto;
    font-weight: bold;
    background-color: #fafafa;
    border: 1px solid #eaeaea;
    padding: 0 0.25rem;
    border-radius: 0.25rem;

}

.dictionary_categories {
    display: flex;
    font-size: 0.75rem;
    gap: 0.25rem;
    align-items: center;
}

.dictionary_category {
    border-radius: 2px;
    padding: 2px;
    background-color: #f5f5f5;
    border: 1px solid #f0f0f0;
}

.loadButton {
    padding: 15px;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-weight: bold;
    margin-bottom: 8vh;
}

.SearchBar {
    margin-bottom: 5px;
    width: 100%;
    height: 50px;
    padding: 12px;
    border: 2px solid black;
    font-size: 18px;
}

.dictionary_list>img {
    width: 11rem;
    height: 11rem;
    margin: auto;
    text-align: center;
    margin-top: 250px;
    animation: 0.4s infinite alternate;
    animation-name: adhs;
}

@keyframes adhs {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(-36deg);
    }

    20% {
        transform: rotate(-72deg);
    }

    30% {
        transform: rotate(-108deg);
    }

    40% {
        transform: rotate(-144deg);
    }

    50% {
        transform: rotate(-180deg);
    }

    60% {
        transform: rotate(-216deg);
    }

    70% {
        transform: rotate(-252deg);
    }

    80% {
        transform: rotate(-288deg);
    }

    90% {
        transform: rotate(-324deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}