.menubar{
    width: 100%;
    margin: 0;
    padding: 0;
    height: 7vh;
    text-align: center;
    line-height: 50px;
    background-color: #1D1D1D;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    color: white;
    position: sticky;
    top: 0;
    z-index: 9999999;
}
.menubar > img {
    position: absolute;
    height: 30%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.menubar > .circle {
    aspect-ratio: 1/1;
    position: absolute;
    height: 50%;
    background-color: rgb(255, 255, 255);
    border-radius: 100vh;
    right: 7.5%;
}