@tailwind base;
@tailwind components;
@tailwind utilities;

.App{
  background: rgb(23,171,0);
  background: linear-gradient(90deg, rgba(23,171,0,1) 0%, rgba(171,255,79,1) 53%, rgba(158,255,163,1) 100%);
  width: 100vw;
  height: 100vh;
}
.mainContent{
  position: absolute;
  bottom: 0%;
  width: 100vw;
  height: 70vh;
  background-color: white;
  border-radius: 5% 5% 0 0;
  padding: 2.5%;
}
