
.motionLogo{
    background-color: black;
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img{
    width: 50%
}


.ml2{
    color: #fff;
    font-size: 6vw;
}

